<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="result" value="#{loginBean.result}"/>
        </f:metadata>
    </ui:define>
    
    <ui:define name="content">
        <h:form>
            <div style="margin: 1em 0">
                <div style="margin: 0.5em 0">
                    <h:outputLabel for="usuarioInput" style="display: inline-block; width: 45px">Usuário</h:outputLabel>
                    <h:inputText id="usuarioInput" value="#{loginBean.login}"/>
                </div>
                <div style="margin: 0.5em 0">
                    <h:outputLabel for="senhaInput" style="display: inline-block; width: 45px">Senha</h:outputLabel>
                    <h:inputSecret id="senhaInput" value="#{loginBean.senha}"/>
                </div>
            </div>
            <h:commandButton value="Entrar" style="width: 120px" action="#{loginBean.loginAction}"/>
            <h:messages/>
        </h:form>
    </ui:define>
    
</ui:composition>
